footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color:black;
    height: 56px;
    
}

footer p {
    color: white;
    text-shadow: 0 0 1px #000;
    font-family: 'Roboto', helvetica,arial,sans-serif;
    margin-right: 20px;
    cursor: default;
}

#devLinks {
    display: flex;
    justify-content: flex-end;
}

#devLinks a {
    margin: 0 20px;
}

.footer-icon {
    color: white;
    text-shadow: 0 0 1px #000;
    font-size: 30px;
    transition: all .2s 0s;
}

.footer-icon:hover {
    color: rgb(204, 204, 204)
}

