/* @import url('https://fonts.google.com/css?family=Montserrat:500'); */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue",
}
li,.options{
    font-family:"Monserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #28282B;
    text-decoration: none;
    list-style: none;
}
h1{
    font-family:"Monserrat", sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #28282B; 
}

.nav_options{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    padding:30px 10%;
}

li{
    display: inline-block;
    padding:0px 20px;
}

li a{
    transition: all 0.3s ease 0s;
}

li a:hover{
   color:aqua;
}
button{
    font-size:15px;
    border-radius:15px;
    padding:3px;
}
a{
    text-decoration:none;
}

h2,h3,h4,h5,h6,p{
    font-family:"Monserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #28282B;  
}

.errors{
    display:flex;
    justify-content:center;
    margin: center;
    color:red;
    padding:3px;
}
textarea{
    width:300px;
    height:150px;
}