.userStories {
    display: flex;
    justify-content: center;
    margin:center;
}

.locationArea{
    border-bottom: 1px solid #0000;
}

.locationDetails{
    display: flex;
    justify-content: center;
    padding: 5vh;
    padding-top:20px;
    padding-left:20vh;
}


.one_location{
    padding: 5px;
}

.locationimg{
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 25px;
    border-bottom: 1px solid #0000;
}

.locationImg{
    width:275px;
}
.locationOptions{
    padding: 5px;
}

.deleteLocation{
    margin-right:5px;
}

.newStory{
    margin:10px;
}
.reviews{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
}

.locationInfo{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.info{
    display:flex;
    flex-direction: column;
    align-items:center;
    
}

.one_location_li{
    color:black;
    font-size:25px;
}
.reviewCards{
    padding-bottom:2vh;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.newBooking{
    display: flex;
    justify-content:space-around;
    padding: 7px;
}

.booking2{
    display: flex;
    justify-content:center;
} .booking3{
    font-size:30px;
}
.bookingConfirm{
    min-width: 367px;
    width: 367px;
    height: 290px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 23px;
    padding-top:45px;
    top: 130px;
    z-index: 15;
    position: sticky;
}

.centerDiv{
    display: flex;
    justify-content:center;
}

.leaveReview{
    padding-top:25px;
}