.userStories {
    display: flex;
    justify-content: center;
    margin:center;
}

.locationArea{
    border-bottom: 1px solid #0000;
}

.locationDetails{
    display: flex;
    justify-content: center;
    padding: 5vh;
    padding-top:20px;
    padding-left:20vh;
}


.one_location{
    padding: 5px;
}

.locationimg{
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: bottom;
}

.locationImg{
    width:275px;
}
.locationOptions{
    padding: 5px;
}

.deleteLocation{
    margin-right:5px;
}

.newStory{
    margin:10px;
}
.reviews{
    display:flex;
    justify-content:center;
}

.locationInfo{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.info{
    display:flex;
    flex-direction: column;
    align-items:center;
    
}

.one_location_li{
    color:black;
    font-size:25px;
}
.reviewCards{
    padding-bottom:2vh;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 50px;
}